{% load static %} <!-- Always load static as you can then reference files in your static dir-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block title %}
    {% endblock %}

    {% block extend_head %}
    {% endblock %}

  </head>

    <ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'posts:index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'posts:profile' %}">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'posts:postlist' %}">All Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'posts:postcreate' %}">Create Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">SignOut</a>
    </li>
    </ul>

  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!--visit https://code.jquery.com/ for jquery script-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    {% block extend_footer %} <!-- I tend to add a block to extend my footer scripts in extended templates-->

    {% endblock %}

    <script src="{% static 'main.js' %}"></script> <!--I have added a main.js to Static with an AJAX call to submit your form-->
  </body>
</html>